<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link rel="stylesheet" href="../css/styles.css" />
</head>
<body>
    <div class="backgroundcars"></div>

    <div style="text-align: center;">
        <h2 class="login">Cars</h2>
        <table class="car">
            <tr>
                <th class="login">ID товара</th>
                <th class="login">Модель</th>
                <th class="login">Цена</th>
                <th class="login">Мощность</th>
                <th class="login">Описание</th>
                <th class="login">Марка</th>
            </tr>
        </table>
        <input type="button" value="Sign Out" class="btn" style="position: center;" onclick="window.location.href = '/SignOut'"  />
    </div>
    <script src="../script/table.js"></script>
</body>
</html>